#header {
	background-color: navy;
	color: white;
	text-align: center;
	padding: 5px;
}

#nav {
	line-height: 30px;
	background-color: #eeeeee;
	height: 300px;
	width: 100px;
	float: left;
	padding: 5px;
}

#section {
	width: 500px;
	float: left;
	padding: 10px;
}

#footer {
	background-color: navy;
	color: white;
	clear: both;
	text-align: center;
	padding: 5px;
}
