#header {
	background-color: navy;
	color: white;
	text-align: center;
	padding: 5px;
	width: 95%;
}

#nav {
	line-height: 30px;
	background-color: #eeeeee;
	text-align: center;
	padding: 5px;
	width: 95%;
}

#section {
	float: left;
	padding: 5px;
	width: 95%;
}

#footer {
	background-color: navy;
	color: white;
	clear: both;
	text-align: center;
	width: 95%;
	padding: 5px;
}
