.km-ios #my-drawer .km-content, .km-android #my-drawer .km-content, .km-blackberry #my-drawer .km-content,
.km-ios #my-drawer .km-list > li, .km-android #my-drawer .km-list > li, .km-blackberry #my-drawer .km-list > li,
.km-ios #my-drawer .km-listview-link > .km-icon, .km-android #my-drawer .km-listview-link > .km-icon, .km-blackberry #my-drawer .km-listview-link > .km-icon,
.km-ios #my-drawer .km-list li > .km-icon, .km-android #my-drawer .km-list li > .km-icon, .km-blackberry #my-drawer .km-list li > .km-icon
{
	background-color: #4e4e4e;
	color: #fff;
}

.km-ios #my-drawer .km-group-title,
.km-blackberry #my-drawer .km-group-title
{
	background-color: #6e6e6e;
	color: #fff;
}

.km-drawer-button:before, .km-drawer-button:after  { content: "\E077"; }
.km-inbox:before, .km-inbox:after { content: "\E0B0"; }
.km-sent:before, .km-sent:after { content: "\E0C6"; }
.km-trash:before, .km-trash:after { content: "\E0C3"; }
.km-spam:before, .km-spam:after { content: "\E0C5"; }
.km-star:before, .km-star:after { content: "\E0D7"; }
.km-settings:before, .km-settings:after { content: "\E0DA"; }
.km-off:before, .km-off:after { content: "\E0B9"; }
.km-closemessage:before, .km-closemessage:after { content: "\E038"; }

.inboxList
{
	font-size: .8em;
}

.inboxList p,
.inboxList h2,
.inboxList h3
{
	margin: 5px 2px;
}

.inboxList p,
.inboxList h3
{
	color: #777;
}

.inboxList h3.time
{
	color: #369;
	float: left;
	margin-right: 10px;
}